langchain
langchain-text-splitters
langchain-openai
langchain_core
langchain-google-genai
langchain-groq
langchain-community
langchain_huggingface
python-dotenv
ipykernel
pypdf
bs4
chromadb
sentence_transformers
faiss-cpu
langchain_chroma
duckdb
pandas
openai
duckduckgo_search==5.3.1b1
pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
streamlit
langchain_yt_dlp
cassio
datasets
tiktoken
gradio